* {
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 16, 16);
  margin: 0;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 945px;
  margin: auto;
}
.section {
  padding-top: 64px;
  padding-bottom: 92px;
}
.section-title {
  margin: 0px;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.hero {
  padding-top: 50px;
  padding-bottom: 155px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0.807) 95.44%);
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.social-link>img{
  max-width: 24px;
}
.social-links:first-child {
  margin-left: 0;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-subtitle {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  margin-bottom: 14px;
}
.hero-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 428px;
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border-radius: 5px 5px 10px 10px;
  padding-top: 24px;
  padding-right: 42px;
  padding-bottom: 24px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 889;
  min-width: 81%;
}
.hero-avatar {
  width: 389px;
  height: 389px;
  background-color: #b68500;
  border-radius: 50%;
  background-image: url("/img/576657.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  border: 13px solid #fff;
}
.fiturs {
  background-color: rgb(0, 0, 0);
}
.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}
.features-image {
  display: block;
  margin-bottom: 22px;
}
.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}
.features-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0px;
}
.contacts-form {
  background: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 380px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 49px;
}
.form-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: center;

  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}
.imput {
  background: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  padding-left: 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}
.imput-name {
  margin-bottom: 17px;
  background-image: url(img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.imput-phone {
  margin-bottom: 17px;
  background-image: url(img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.form-button {
  width: 100%;
}
.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  size: 0ch;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}
.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-text {
  margin-left: 40px;
  flex-basis: 50%;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
}
.contacts-link:hover {
  text-decoration: underline;
}
.a {
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #a5a5a5;
  display: inline-block;
  margin-top: 72px;
}
a:link {
  color: #a5a5a5;
}
a:visited {
  color: #000000;
}
a:hover {
  columns: #00ff00;
}
a:active {
  color: #a5a5a5;
}
#avmob{
    box-shadow: inset 0 0 15px 8px rgb(255 221 0 / 85%);
    border-radius: 50%;
    text-align: center;
    width: 332px;
    margin: 0 auto;
    margin-bottom: 20px;
}
@media (min-width:800px) {
  #avmob{
    display: none;
  }
}
@media (max-width: 800px) {
  .container{
    padding: 0 34px;
  } 
  .contacts-block, .hero-content{
    flex-wrap: wrap;
  }
  .hero-content, .contacts-block{
    justify-content: center;
  }
  .features-item{
    flex-basis: 45%;
  }
  #avpk{
    display: none;
    box-shadow: inset 0 0 15px 8px rgb(255 221 0 / 85%);
    border-radius: 50%;
    text-align: center;
    width: 332px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hero{
    padding-bottom: 0px;
  }
  .hero-avatar{
    margin-bottom: 30px;
  }
  .section{
    padding-bottom: 28px;
  }
  .section-title{
    margin: 30px 0;
    text-align: center;
  }
  .contacts-text{
    margin-top: 42px;
    flex-basis: 100%;
    margin-left: -18px;
  }
  .features-block{
    flex-direction: column;
    max-width: 469px;
    text-align: center;    
    justify-content: center;
  }
  .features-image {
    margin: 7px auto;
}
.button{
  margin-left: 38px;
}
.hero-avatar {
  width: 352px;
  height: 352px;
  margin: 20px auto;
}
.contacts-form {
  max-width: 357px;
}
.botton-form{
  margin-left: 0;
}
}




  /* phone */
/*кнопка звонка*/
.callback-bt {
  background: #38a3fd;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
  cursor: pointer;
  border: 2px solid transparent;
  display: block;
  height: 75px;
  width: 75px;
  text-align: center;
  position: fixed;
  right: 8%;
  bottom: 18%;
  z-index: 999;
  transition: .3s ease-in-out;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
}

.callback-bt:hover {
  background: #fff;
  border: 2px solid #38a3fd;
}

.callback-bt .text-call {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
}

.callback-bt .text-call:after {
  content: "\f095";
  display: block;
  font-family: fontawesome;
  color: #fff;
  font-size: 38px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  opacity: 1;
  transition: .3s ease-in-out;
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
}

.callback-bt .text-call:hover:after {
  opacity: 0;
}

.callback-bt .text-call span {
  color: #38a3fd;
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 11px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: .3s ease-in-out;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
  opacity: 1;
}

@keyframes hoverWave {
  0% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
  }

  40% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
  }

  80% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
  }

  100% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
  }
}

/* animations icon */

@keyframes shake {
  0% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
  }

  10% {
      transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      -webkit-transform: rotateZ(-30deg);
  }

  20% {
      transform: rotateZ(15deg);
      -ms-transform: rotateZ(15deg);
      -webkit-transform: rotateZ(15deg);
  }

  30% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
  }

  40% {
      transform: rotateZ(7.5deg);
      -ms-transform: rotateZ(7.5deg);
      -webkit-transform: rotateZ(7.5deg);
  }

  50% {
      transform: rotateZ(-6deg);
      -ms-transform: rotateZ(-6deg);
      -webkit-transform: rotateZ(-6deg);
  }

  60% {
      transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -webkit-transform: rotateZ(5deg);
  }

  70% {
      transform: rotateZ(-4.28571deg);
      -ms-transform: rotateZ(-4.28571deg);
      -webkit-transform: rotateZ(-4.28571deg);
  }

  80% {
      transform: rotateZ(3.75deg);
      -ms-transform: rotateZ(3.75deg);
      -webkit-transform: rotateZ(3.75deg);
  }

  90% {
      transform: rotateZ(-3.33333deg);
      -ms-transform: rotateZ(-3.33333deg);
      -webkit-transform: rotateZ(-3.33333deg);
  }

  100% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
  }
}
/* конец кнопки звонка */