body{
	background-color: #000000;
}
/*Menu for mobile+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
 }


 .active{
display: none;
 }

 /* стилизуем кнопку*/
 .menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	/* top: 20px; */
	/* left: 20px; */
	width: 26px;
	/* height: 26px; */
	cursor: pointer;
	margin-top: -30px;
	padding: 18px;
	z-index: 1;
	padding-top: -6px;
	background-image: url(images/676.jpg);
	/* justify-content: space-around; */
	/* padding-bottom: 75px; */
	/* margin-bottom: -39px; */
	/* align-items: center; */
	/* text-align: center; */
}

 @media (max-width:2000px) { 
	.menu__box {
		visibility: visible;
		left: 0;
		z-index: 145;
  }
	/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #ffffff !important;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
	/* контейнер меню */
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 80px 80px;
	list-style: none;
	background-color: #000000;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.nav-li {
	display: block;
	padding: 12px 24px;
	color: #fcfcfc;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
}
.nav-li:hover {
	background-color: #CFD8DC;
}
.nav-block{
	min-width: 300px;
}
.nav:hover{
	text-decoration: underline;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
	overflow: scroll;
	margin-top: 106px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
transition-duration: .25s;
}
.menu__box {
transition-duration: .25s;
}
.menu__item {
transition-duration: .25s;
}

}

ol{
	display: inline-block;
 }
.nav-link{
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.468947px;
	color: #696871;
	text-decoration: none;
}
.nav-link:hover{
	color:black;
	transition: 350ms;
}





/*For mobile++++++++++++++++*/
@media (max-width: 773px) { 
	.menu__btn {
		top: 50px;
		border-radius: 5px;
	}
	}
	@media (min-width:960px) { 
	.nav-li{
		display: inline-block;
	}
	.nav-li:not(:first-of-type){
		margin-left: 49px;
	}
	}

	.menu__btn {
		z-index: 218;
		right: 160px;
  }

.wrapper-telefon-header{
	width: 700px;
}
  .wrapper-telefon-header_title{
	font-family: "EtelkaLight";
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 23px;
}
.wrapper-telefon-header_link-tel{
	font-family: "EtelkaText";
    font-size: 24px;
    color: black;
    display: block;
    margin-bottom: 6px;
}
.header_title{
    font-family: "EtelkaText";
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
a {
	background-color: transparent;
 }
 a, a:visited{text-decoration: none;
 }
 a>h3:hover{text-decoration: none;
 }

 .wrapper-menu-map_list-link{
	margin-bottom: 24px;
 }
.wrapper-menu-map_list-link a {
	font-family: "EtelkaLight";
	font-size: 28px;
	color: #ffffff;
	-webkit-transition: color .5s;
	transition: color .5s;
}
ul li{list-style: none;}
